@{
    ViewData["Title"] = "About Us";
}

<h1 class ="text-center">@ViewBag.Title</h1>

<p>
    Thank you for using our Sky Tracker&#8482;! We hope you enjoy tracking flights and exploring the fascinating world of aviation.
</p>

<h2>Introduction</h2>
<p>Sky Tracker&#8482; is a comprehensive flight, aircraft, and airport tracking application that allows users to monitor flights, view aircraft details, and explore aviation data, including incident reports and airport information.</p>
<p>Whether you're an aviation enthusiast, a frequent traveler, or simply curious about air traffic, Sky Tracker App provides you with a visually appealing and user-friendly interface to access a wealth of flight-related information.</p>

<h2>Features</h2>
<ul>
    <li>Flight tracking on an interactive map.</li>
    <li>Detailed information about each aircraft, including registration, type, and more.</li>
    <li>Filtering and sorting functionalities to look up specific flights, aircraft, and events (heralds).</li>
    <li>Flight history.</li>
    <li>Additional data layers like airport information.</li>
    <li>User-friendly and responsive design for seamless usage.</li>
    <li>Full control of your user data.</li>
    <li>Easy data manipulation from our Administrative Panel.</li>
</ul>

<h2>Contributing</h2>
<p>Currently, community contributions are closed. However, user feedback is highly appreciated.</p>
<p>If you find any issues or have ideas for improvements, please feel free to open an issue or submit a pull request.</p>

<h2>License</h2>
<p>Sky Tracker&#8482; is open-source software licensed under the MIT License.</p>

<h2>Acknowledgments</h2>
<p>We would like to extend our gratitude to <a href="https://www.flightradar24.com" target="_blank">Flightradar24</a> for providing us with the needed flight data.</p>