@model AircraftDetailsViewModel

@{
    ViewBag.Title = "Aircraft Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="~/@Model.ImageUrl" alt="aircraft-picture" class="img-fluid" style="max-width:600px">
        </div>
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    <h2>@Model.Registration</h2>
                    <p>Aircraft Type: @Model.Equipment</p>
                    <p>Tracker Id: @Model.Id</p>

                    <div class="d-flex justify-content-center text-center w-100">
                        <a asp-controller="Aircraft" asp-action="All" class="btn btn-secondary btn-rounded">Back to All Aircraft</a>
                    </div>
                </div>
            </div>

            
        </div>        
    </div>
</div>

<style>
    .card {
        margin: 0 auto;
        max-width: 400px;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}