@model PasswordChangeModel

@{
    ViewBag.Title = "Change your password";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 50vh;">
    <div class="col-md-4">
        <h1 class="text-center">@ViewBag.Title</h1>

        <section>
            <form id="passwordChangeForm" method="post">
                <h2 class="text-center">Type in your new password</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="OldPassword" class="form-label"></label>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="NewPassword" class="form-label"></label>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div>
                    <button id="passwordChangeSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Change Password</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
