@using Microsoft.AspNetCore.Identity
@using SkyTracker.Web.Controllers
@using SkyTracker.Data.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <div id="profileTriggerContainer">
            <img src="@UserManager.GetUserAsync(User).Result.ProfilePictureUrl" alt="" width="24" height="24" class="d-inline-block align-text-top rounded-circle">
            @User.Identity?.Name
        </div>

        <li class="nav-item">
            <form class="form-inline" asp-controller="User" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
        </li>
    }
</ul>


