@model HeraldDetailsViewModel

@{
    ViewBag.Title = "Occurrence Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="card w-100">
        <div class="card-body">
            <h3 class="card-title text-center"><span class="fw-bold">Date of occurrence: </span>@Model.OccurrenceDate</h3>
            <p class="mb-0"><span class="fw-bold">Type: </span>@Model.TypeOccurence</p>
            <p class="mb-0"><span class="fw-bold">Details: </span>@Model.Details</p>
        </div>

        <div class="mb-2 d-flex justify-content-center text-center w-100">
            <a asp-controller="Herald" asp-action="All" class="btn btn-secondary btn-rounded">Back to All Heralds</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}